<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--  Datasource- Interface &  DriverManagerDataSource- class of Datasource so that we can make object and supply to
    JDBC template-->
   <bean id="dSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

       <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
       <property name="url" value="jdbc:mysql://localhost:3306/jdbctemplate"/>
       <property name="username" value="root"/>
       <property name="password" value="King@32911"/>

   </bean>

    <!-- Definition for studentJDBCTemplate bean -->
    <bean id="StudentJdbcTemplate" class="com.spring.jdbc.DaoImpl.StudentJdbcTemplate">

        <property name="dataSource" ref="dSource"/>
    </bean>
</beans>

        <!--[] Points to remember-->

        <!--For auto-wire bean id should be of same name to bean class-->
        <!--In init-method= "" we have to provide the correct method name  <bean id= "" init-method="" ></bean>  -->
        <!--If we want to run a method after bean is closed then use destroy-method= "" ,<bean id= "" destroy-method="" >
        </bean>-->
        <!--scope = "Singlenton" (default).It creates only one object -->
        <!--scope="Prototype" creates new object everytime and store it into spring container . used inside <bean scope="">
        </bean>-->